[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
debugpy = "*"

[packages]
bs4 = "*"
aiohttp = "*"
boto3 = "*"
gitpython = "*"
google-api-python-client = "*"
google-auth = "*"
ldap3 = "*"
metadata-parser = "*"
hvac = "*"
squad-client = "*"
requests = "*"
importlib-metadata = "*"

[requires]
python_version = "3.8"
