#wrapper {
    .resource_block_inner {
        height:300px;
        position: relative;
        background-size: cover;
        background-position: center center;
        transition: all 200ms ease-in-out;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            left: 0;
            background-image: linear-gradient(to bottom right, #000, #000);
            opacity: .7;
            width: 100%;
            z-index: 0;
        }
        &:hover {
            transform:translateY(-3px);
            -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.75);
        }
        h3 {
            color:white;
            z-index:2;
            position: relative;
            padding-top:100px;
            padding-left: 15px;
            padding-right:15px;
            height: 100%;
            margin-top:10px;
            text-align: center;
        }
    }
}
