<div class="col-xs-12" id="connect_resources_embed" data-connect-id="{{include.connect}}"
data-session-id="{{include.session_id}}">
    <div class="col-xs-12 col-sm-6 video">
        <div id="video">
            <img id="video-skeleton" class="img-responsive lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="/assets/images/content/video_placeholder.png" />
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 presentation">
        <div id="presentation">
            <img id="presentation-skeleton" class="img-responsive lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-src="/assets/images/content/presentation_placeholder.svg" />
        </div>
    </div>
</div>
