---
const {
  style,
  title_content: { text, size },
} = Astro.props;

const Element = size;
---

<div class:list={[style, " prose-lg md:prose-xl py-4 px-4 text-inherit mt-8"]}>
  <Element set:html={text} class="m-0 prose-p:m-0" />
</div>
